body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-banner {
  background: rgb(58, 49, 49);
  color: rgb(255, 243, 243);
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(65, 42, 42);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.promo-banner {
  background: rgb(18, 4, 50);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.promo-banner h1 {
  font-size: 48px;
  margin: 0;
}

.promo-banner h1 span {
  font-size: 64px;
  font-weight: bold;
}

.promo-banner p {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0 0;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  padding: 50px 20px;
  gap: 20px;
}

/*homepage img*/
.product-section {
  position: relative;
  background: url('images/products-bg.jpg') center/cover no-repeat;
  padding: 50px 20px;
}

.product-section::before {
  content:icon;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* dark transparent overlay */
  z-index: 0;
}

.product-grid {
  position: relative;
  z-index: 1; /* bring product content above overlay */
}

.product-card {
  width: 500px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.label {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.price {
  background: red;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.promo-banner {
  background-image: url("kids.shoes/banner.shoes.jpg");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;                /* Make text visible over image */
  text-align: center;
  padding: 80px 20px;
}

.logo {
    background-image:url("/kids.shoes/bannerdown.jpg");
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(65, 42, 42);
}

.logo img {
  height: 40px;
  width: auto;
}
